.meetVideoContainer{
    position: relative;
    height: 100vh;
    background: rgb(2, 2, 49) ;
    
}

.meetUserVideo{
    position: absolute; 
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
    margin-left: 10px;
}

.buttonContainers {
    text-align: center;
    width: 100vw;
    bottom: 0;
    position: absolute;
}

.buttonContainers svg{
    font-size: 3rem;
}

.conferenceView {
    display: flex;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;

}

.conferenceView  video{
    display: flex;
    width: 30vw;
    /* height: 20vh;  */
    min-width: 20vw;
    border-radius: 20px;
}

.chatRoom{
    position: absolute;
    right: 0;
    height: 90vh;
    width: 25vw;
    background: white;
    border-radius: 10px;
    padding-inline: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

.chatContainer {
    position: relative;
    height: 100%;
}

.chatContainer Button{
    margin-top: 9px;
}

.chattingArea {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;

}

.chattingDisplay{
    overflow-y: auto;
    /* overflow-y: scroll; */
}
.lobbyPageVideo{
    border-radius: 20px;
    margin: 10px;
    border: 3px solid black;
    width: 35vw;
    height: auto;
}

.lobbyVcImg img{
    width: 20vw;
    margin: 150px 250px 50px 50px;
    position: absolute;
    right: 0;
    height: auto;
}


.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    text-align: center;
    margin-top: 20px;
}

.navBar img{
    height: 1.8rem;
    width: 1.8rem;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
}

.navBar div{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2rem;
}


